@font-face {
    font-family: 'Anjoman';
    src: url('/fonts/Anjoman-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  html {
    direction: rtl;
    text-align: right;
    unicode-bidi: embed;
  }
  
  body {
    font-family: 'Anjoman', sans-serif;
    direction: rtl;
    text-align: right;
    /* display: flex; */
    flex-direction: row-reverse; /* کل ساختار را معکوس می‌کند */
  }
  
  /* تغییر موقعیت سایدبار */
  .nextra-sidebar-container {
    right: 0;
    left: auto;
  }
  
  /* تغییر موقعیت محتوا */
  .nextra-content {
    margin-left: 0;
  }
  

  
  /* تغییر موقعیت لینک‌های ناوبری */
  .nextra-navbar {
    direction: rtl;
    text-align: right;
  }
  
  .nextra-steps {
    margin-right: -26px !important;
  }
  
  .nextra-steps h3 {
    margin-left: 16px !important;
  }
  
  .nextra-steps h3:before {
    margin-right: -32px !important;
  }
  

  .nextra-filetree {
    direction: ltr !important;
    text-align: left !important;
    margin-left: 0 !important;
    margin-right: auto !important;
    display: flex !important;
    justify-content: flex-start !important;
  }
  
  .nextra-filetree > div {
    direction: ltr !important;
    text-align: left !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  
  .nextra-filetree li {
    direction: ltr !important;
  }
  
  .nextra-filetree span, 
  .nextra-filetree button {
    direction: ltr !important;
    text-align: left !important;
  }
  